admin==0.0.1
asgiref==3.5.0
automium==0.2.6
automium-web==0.1.1
click==8.0.3
colorama==0.4.4
Django==4.0.2
Flask==2.0.2
include==0.2.2
itsdangerous==2.0.1
Jinja2==3.0.3
legacy==0.1.6
MarkupSafe==2.0.1
mysqlclient==2.1.0
PyYAML==6.0
render==1.0.0
sqlparse==0.4.2
tzdata==2021.5
Werkzeug==2.0.3
