{% extends "admin_header.html" %}
{% load static %}
{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <div class="page-content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">INSERT AREA DETAILS</h4>
                            <br>
                            <form method="post" action="/update_area/{{are.a_id}}">
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label for="example-text-input" class="col-md-2 col-form-label">Insert
                                        Area</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="a_name" id="example-text-input" value="{{are.a_name}}">
                                    </div>
<br>
                                    <br>
                                    <br>
                                    <br>

                                <div class="mb-3 row">
                                    <div class="col-md-12">
                                        <input class="form-control" type="submit" value="Submit" style="color:red">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

            <!-- end row -->


            {% endblock %}