{% extends "admin_header.html" %}
{% load static %}
{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <div class="page-content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">INSERT HOUSE GALLERY</h4>
                            <br>
                            <form method="post" action="/insert_house_gallery/" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">House Name</label>
                                    <div class="col-md-10">
                                        <select name="h_id" class="form-select">
                                            {% for data in own %}
                                            <option value="{{data.h_id}}">{{data.h_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="example-number-input" class="col-md-2 col-form-label">House Image</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="file" name="hg_imgpath" id="example-number-input">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-12">
                                        <input class="form-control" type="submit" value="Submit" style="color:red">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

            <!-- end row -->


            {% endblock %}