{% extends "admin_header.html" %}
{% load static %}
{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <div class="page-content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">INSERT OWNER DETAILS</h4>
                            <br>
                            <form method="post" action="/insert_owner/">
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label for="example-text-input" class="col-md-2 col-form-label">Owner
                                        Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="o_name" id="example-text-input">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="example-search-input" class="col-md-2 col-form-label">Owner Email</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="o_email" id="example-search-input">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                               <label for="example-color-input" class="col-md-2 col-form-label">Owner Password</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="example-color-input" name="o_pass">
                                            </div>
                                        </div>


                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">Owner Type</label>
                                    <div class="col-md-10">
                                        <select name="o_type" class="form-select">
                                            <option value="PG Owner">PG Owner</option>
                                            <option value="House Owner">House Owner</option>
                                        </select>
                                    </div>
                                </div>
                                 <div class="mb-3 row">
                                    <label for="example-time-input" class="col-md-2 col-form-label">Owner Phone Number</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="o_phno"
                                               id="example-time-input" required>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="example-datetime-local-input" class="col-md-2 col-form-label">Owner Adress
                                        </label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="o_add"
                                               id="example-datetime-local-input" minlength="15">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">Gender</label>
                                    <div class="col-md-10">
                                        <select name="o_gender" class="form-select">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col-md-12">
                                        <input class="form-control" type="submit" value="Submit" style="color:red">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

            <!-- end row -->


            {% endblock %}