{% extends "admin_header.html" %}
{% load static %}
{% block content %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
<div class="main-content" xmlns="http://www.w3.org/1999/html">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">INSERT TIFFIN DETAILS</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                            <li class="breadcrumb-item active">Form Elements</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>



                        <!-- end page title -->
<form method="post" action="/insert_tiffin_details/" enctype="multipart/form-data">
    {% csrf_token %}

     <label>Tiffin Title</label>
    <input type="text" name="tiff_title"/>
    <br>
    <br>

    <label>Tiffin Owner Name</label>
    <select name="to_id">
        {% for data in own %}
        <option value="{{data.to_id}}">{{data.to_name}}</option>
        {% endfor %}
    </select>
     <br>
    <br>


    <label>Tiffin Type:</label>

<select name="tiff_type">
  <option value="Lunch">Lunch</option>
  <option value="Dinner">Dinner</option>
</select>
    <br>
    <br>
    <br>
    <label>Tiffin Description</label>
    <textarea name="tiff_desc"rows="2" cols="50"></textarea>
    <br>
    <br>







    <label>Tiffin Price</label>
    <input type="text" name="tiff_price"/>
    <br>
    <br>
     <label>Tiffin Image</label>
    <input type="file" name="tiff_imgpath"/>
    <br>
    <br>


    <input type="submit" value="Submit"/>


</form>



                    {% endblock %}