{% extends "admin_header.html" %}
{% load static %}
{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <div class="page-content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">INSERT TIFFIN OWNER</h4>
                            <br>
                            <form method="post" action="/update_tiffin_owner/{{temp.to_id}}">
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label for="example-text-input" class="col-md-2 col-form-label">Tiffin Owner
                                        Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="to_name" id="example-text-input" value="{{temp.to_name}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="example-search-input" class="col-md-2 col-form-label">Tiffin Owner Email</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="to_email" id="example-search-input" value="{{temp.to_email}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                               <label for="example-color-input" class="col-md-2 col-form-label"> Tiffin Owner Password</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="example-color-input" name="to_pass" value="{{temp.to_pass}}">
                                            </div>
                                        </div>


                                 <div class="mb-3 row">
                                    <label for="example-time-input" class="col-md-2 col-form-label">Tiffin Owner Phone Number</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="to_phno"
                                               id="example-time-input" value="{{temp.to_phno}}">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="example-datetime-local-input" class="col-md-2 col-form-label"> Tiffin Owner Adress
                                        </label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="to_add"
                                               id="example-datetime-local-input" value="{{temp.to_add}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">Gender</label>
                                    <div class="col-md-10">
                                        <select name="to_gender" class="form-select">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-12">
                                        <input class="form-control" type="submit" value="Submit" style="color:red">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

            <!-- end row -->


            {% endblock %}