{% extends "admin_header.html" %}
{% load static %}
{% block content %}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <div class="page-content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">INSERT TIFFIN DETAILS</h4>
                            <br>
                            <form method="post" action="/update_tiffin_details/{{temp.tiff_id}}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3 row">
                                    <label for="example-text-input" class="col-md-2 col-form-label">Tiffin Title</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="tiff_title" id="example-text-input" value="{{temp.tiff_title}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">Tiffin Owner Name</label>
                                    <div class="col-md-10">
                                        <select name="to_id" class="form-select">
                                            {% for data in own %}
                                            <option value="{{data.to_id}}">{{data.to_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">Tiffin Type</label>
                                    <div class="col-md-10">
                                        <select name="tiff_type" class="form-select">
                                            <option value="Lunch">Lunch</option>
                                            <option value="Dinner">Dinner</option>
                                        </select>
                                    </div>
                                </div>
                                 <div class="mb-3 row">
                                    <label for="example-time-input" class="col-md-2 col-form-label">Tiffin Description</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="tiff_desc"
                                               id="example-time-input" value="{{temp.tiff_desc}}">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="example-datetime-local-input" class="col-md-2 col-form-label">Tiffin Price
                                        </label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="tiff_price"
                                               id="example-datetime-local-input" value="{{temp.tiff_price}}">
                                    </div>
                                </div>


                                <div class="mb-3 row">
                                    <label for="example-number-input" class="col-md-2 col-form-label">Tiffin Image</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="file" name="tiff_imgpath" id="example-number-input" value="{{temp.tiff_imgpath}}">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-12">
                                        <input class="form-control" type="submit" value="Submit" style="color:red">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

            <!-- end row -->


            {% endblock %}