{% extends "client_header.html" %}
{% load static %}
{% block content %}

        <div class="clearfix"></div>
        <!-- START SECTION SHOP -->
{% for data in p %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 blog-pots">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row space2 pb-4 thumax-2">
                                    <div class="col-md-6">
                                        <div class="single-portfolio">
                                            <div class="portfolio-img">
                                                <div class="popup-images">
                                                    <a class="popup-img" href="{% static 'images/shop/shop-1.jpg' %}"><img class="img-fluid w100" src="{% static 'im/' %}{{data.tiff_imgpath}}" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                      <div class="col-md-6 single-p-info shop">
                                        <h2 class="mb-3">{{data.tiff_title}}</h2>
                                        <ul class="starts text-left">
                                            <li class="mb-0"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="mb-0"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="mb-0"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="mb-0"><i class="fa fa-star"></i>
                                            </li>
                                            <li class="mb-0"><i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <p>Tiffin Type :- {{data.tiff_type}}</p>
                                        <p>Price :- {{data.tiff_price}} </p><br>
                                           {% if request.session.name %}
                                       <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JSptU6dyFrnr6y" async> </script> </form>
                                           {% endif %}
                                        <div class="text-left">
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="blog-info details mb-30 mt-5">
                                    <h5 class="mb-4">Description</h5>
                                    <p class="mb-3">{{data.tiff_desc}}</p>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
                    </div>
                </div>

{% endblock %}