{% extends "client_header.html" %}
{% load static %}
{% block content %}

        <div class="clearfix"></div>
        <!-- Header Container / End -->
        <!-- END SECTION HEADINGS -->

        <!-- START SECTION SHOP -->
        <section class="blog blog-section blog-pots">
            <div class="container">
                <section class="headings-2 pt-0 hee">
                    <div class="pro-wrapper">
                        <div class="detail-wrapper-body">
                            <div class="listing-title-bar">
                                <div class="text-heading text-left">
                                    <p><a href="index.html">PG</a> &nbsp;/&nbsp; <span>PG Details</span></p>
                                </div>
                                <h3>PG Details</h3>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="news-wrap">
                    <div class="row">
                        {% for data in pg1%}
                        <div class="col-lg-4 col-md-12 col-xs-12 news-item">
                            <a href="#">
                                <img src="{% static 'assets/images/project/' %}{{data.pg_imgpath }}" alt="">
                            </a>
                            <div class="blog-info">
                                <a href="/Client/pg_desc/{{data.pg_id}}"> <h3 class="text-center">{{data.pg_name}}</h3></a>
                                <p class="product-old-price text-center">Rent per month: {{data.pg_rent}}</p>

<!--                                <div class="text-center">-->
<!--                                    <a class="btn1 btn-sm" href="#"><i class="fa fa-shopping-cart"></i>Add To Cart</a>-->
<!--                                </div>-->
                            </div>
                        </div>
                        {% endfor %}
<!--                        <div class="col-lg-4 col-md-12 col-xs-12 news-item">-->
<!--                            <a href="#">-->
<!--                                <img src="{% static 'images/shop/shop-2.jpg' %}" alt="">-->
<!--                            </a>-->
<!--                            <div class="blog-info">-->
<!--                                <h3 class="text-center">Product shop</h3>-->
<!--                                <ul class="starts text-center">-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <p class="product-old-price text-center">$69.97</p>-->
<!--                                <p class="recent-price text-center">$49.97</p>-->
<!--                                <div class="text-center">-->
<!--                                    <a class="btn1 btn-sm" href="#"><i class="fa fa-shopping-cart"></i>Add To Cart</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-12 col-xs-12 news-item">-->
<!--                            <a href="#">-->
<!--                                <img src="{% static 'images/shop/shop-3.jpg' %}" alt="">-->
<!--                            </a>-->
<!--                            <div class="blog-info bl">-->
<!--                                <h3 class="text-center">Product shop</h3>-->
<!--                                <ul class="starts text-center">-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <p class="product-old-price text-center">$69.97</p>-->
<!--                                <p class="recent-price text-center">$49.97</p>-->
<!--                                <div class="text-center">-->
<!--                                    <a class="btn1 btn-sm" href="#"><i class="fa fa-shopping-cart"></i>Add To Cart</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row space port">-->
<!--                            <div class="col-lg-4 col-md-12 col-xs-12 news-item">-->
<!--                                <a href="#">-->
<!--                                    <img src="{% static 'images/shop/shop-4.jpg' %}" alt="">-->
<!--                                </a>-->
<!--                                <div class="blog-info">-->
<!--                                    <h3 class="text-center">Product shop</h3>-->
<!--                                    <ul class="starts text-center">-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                    <p class="product-old-price text-center">$69.97</p>-->
<!--                                    <p class="recent-price text-center">$49.97</p>-->
<!--                                    <div class="text-center">-->
<!--                                        <a class="btn1 btn-sm" href="#"><i class="fa fa-shopping-cart"></i>Add To Cart</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-12 col-xs-12 news-item">-->
<!--                                <a href="#">-->
<!--                                    <img src="{% static 'images/shop/shop-5.jpg' %}" alt="">-->
<!--                                </a>-->
<!--                                <div class="blog-info">-->
<!--                                    <h3 class="text-center">Product shop</h3>-->
<!--                                    <ul class="starts text-center">-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                    <p class="product-old-price text-center">$69.97</p>-->
<!--                                    <p class="recent-price text-center">$49.97</p>-->
<!--                                    <div class="text-center">-->
<!--                                        <a class="btn1 btn-sm" href="#"><i class="fa fa-shopping-cart"></i>Add To Cart</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-12 col-xs-12 news-item">-->
<!--                                <a href="#">-->
<!--                                    <img src="{% static 'images/shop/shop-6.jpg' %}" alt="">-->
<!--                                </a>-->
<!--                                <div class="blog-info bl">-->
<!--                                    <h3 class="text-center">Product shop</h3>-->
<!--                                    <ul class="starts text-center">-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                        <li><i class="fa fa-star"></i>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                    <p class="product-old-price text-center">$69.97</p>-->
<!--                                    <p class="recent-price text-center">$49.97</p>-->
<!--                                    <div class="text-center">-->
<!--                                        <a class="btn1 btn-sm" href="#"><i class="fa fa-shopping-cart"></i>Add To Cart</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-4 col-md-12 col-xs-12 news-item">-->
<!--                            <a href="#">-->
<!--                                <img src="{% static 'images/shop/shop-7.jpg'%}" alt="">-->
<!--                            </a>-->
<!--                            <div class="blog-info">-->
<!--                                <h3 class="text-center">Product shop</h3>-->
<!--                                <ul class="starts text-center">-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <p class="product-old-price text-center">$69.97</p>-->
<!--                                <p class="recent-price text-center">$49.97</p>-->
<!--                                <div class="text-center">-->
<!--                                    <a class="btn1 btn-sm" href="#"><i class="fa fa-shopping-cart"></i>Add To Cart</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-12 col-xs-12 news-item">-->
<!--                            <a href="#">-->
<!--                                <img src="{% static 'images/shop/shop-8.jpg' %}" alt="">-->
<!--                            </a>-->
<!--                            <div class="blog-info">-->
<!--                                <h3 class="text-center">Product shop</h3>-->
<!--                                <ul class="starts text-center">-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <p class="product-old-price text-center">$69.97</p>-->
<!--                                <p class="recent-price text-center">$49.97</p>-->
<!--                                <div class="text-center">-->
<!--                                    <a class="btn1 btn-sm" href="#"><i class="fa fa-shopping-cart"></i>Add To Cart</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 col-md-12 col-xs-12 no-mb news-item">-->
<!--                            <a href="#">-->
<!--                                <img src="{% static 'images/shop/shop-9.jpg' %}" alt="">-->
<!--                            </a>-->
<!--                            <div class="blog-info">-->
<!--                                <h3 class="text-center">Product shop</h3>-->
<!--                                <ul class="starts text-center">-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                    <li><i class="fa fa-star"></i>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                                <p class="product-old-price text-center">$69.97</p>-->
<!--                                <p class="recent-price text-center">$49.97</p>-->
<!--                                <div class="text-center">-->
<!--                                    <a class="btn1 btn-sm" href="#"><i class="fa fa-shopping-cart"></i>Add To Cart</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <nav aria-label="..." class="pt-5">
                    <ul class="pagination mt-0">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <!-- END SECTION SHOP -->

{% endblock %}

