{% extends "client_header.html" %}
{% load static %}
{% block content %}

        <div class="clearfix"></div>
        <!-- Header Container / End -->

        <section class="headings">
            <div class="text-heading text-center">
                <div class="container">
                    <h1>About Our Website</h1>
                    <h2><a href="/Client/home/">Home </a> &nbsp;/&nbsp; About Us</h2>
                </div>
            </div>
        </section>
        <!-- END SECTION HEADINGS -->

        <!-- START SECTION ABOUT -->
        <section class="about-us fh">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 who-1">
                        <div>
                            <h2 class="text-left mb-4">About <span>LeasifY</span></h2>
                        </div>
                        <div class="pftext">
                            <p>Looking at a property listing website that will effectively help you to put a house/PG on a rent only in Ahmedabad? Wondering where to put it or search for rentals? Join Leasify, a free property listing site wherein you can post free property lists for rent or from it you can book your rentals. All you need to do is just visit the site and search your recommandations.Leasify add an additional feature too, Tiffin service with house/PG rent. Payment option is also there !!</p>
                            <p>In a matter of minutes, Leasify will help your property get the much-needed visibility. A builder, an owner or an agent need not spend hours to put the house/PG on rent online or trying a hand at online rental. Listing property is a matter of few minutes and you are done.</p>
                            <p>Leasify has a commendable traffic and millions of prospective homebuyers and tenants visit the website every day. Make the most of this opportunity to be visible and post unlimited real estate listings in Ahmedabad.</p>
                            <p>Put the home/PG on rent with tiffin service,quick with Leasify !</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xs-12">
                        <div class="wprt-image-video w50">
                            <img alt="image" src="{% static 'images/bg/bg-video.jpg' %}">
                            <a class="icon-wrap popup-video popup-youtube" href="home1.jpg">
                                <i class="fa fa-play"></i>
                            </a>
                            <div class="iq-waves">
                                <div class="waves wave-1"></div>
                                <div class="waves wave-2"></div>
                                <div class="waves wave-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SECTION ABOUT -->



        <!-- START SECTION COUNTER UP -->
        <section class="counterup">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="countr">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <div class="count-me">
                                <p class="counter text-left">300</p>
                                <h3>Sold Houses</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="countr">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <div class="count-me">
                                <p class="counter text-left">400</p>
                                <h3>Daily Listings</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="countr mb-0">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <div class="count-me">
                                <p class="counter text-left">250</p>
                                <h3>Expert Agents</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xs-12">
                        <div class="countr mb-0 last">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                            <div class="count-me">
                                <p class="counter text-left">200</p>
                                <h3>Won Awars</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SECTION COUNTER UP -->

        <!-- START SECTION AGENTS -->
        <section class="team">
            <div class="container">
                <div class="sec-title">
                    <h2><span>Our </span>Team</h2>
                    <p>We provide full service at every step.</p>
                </div>
                <div class="row team-all">
                    <div class="col-lg-3 col-md-6 team-pro">
                        <div class="team-wrap">
                            <div class="team-img">
                                <img src="{% static 'images/team/t-5.jpg' %}" alt="" />
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h3>UTTAM MANANI</h3>
                                    <p>Financial Advisor</p>
                                    <div class="team-socials">
                                        <ul>
                                            <li>
                                                <a href="#" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                <a href="#" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                <a href="#" title="instagran"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span><a href="team-details.html">View Profile</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 team-pro">
                        <div class="team-wrap">
                            <div class="team-img">
                                <img src="{% static 'images/team/t-6.jpg' %}" alt="" />
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h3>DARJI VISHA</h3>
                                    <p>Acountant</p>
                                    <div class="team-socials">
                                        <ul>
                                            <li>
                                                <a href="#" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                <a href="#" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                <a href="#" title="instagran"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span><a href="team-details.html">View Profile</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 team-pro pb-none">
                        <div class="team-wrap">
                            <div class="team-img">
                                <img src="{% static 'images/team/t-7.jpg' %}" alt="" />
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h3>HARSH TANNA</h3>
                                    <p>Founder &amp; CEO</p>
                                    <div class="team-socials">
                                        <ul>
                                            <li>
                                                <a href="#" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                <a href="#" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                <a href="#" title="instagran"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span><a href="team-details.html">View Profile</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 team-pro kat">
                        <div class="team-wrap">
                            <div class="team-img">
                                <img src="{% static 'images/team/t-8.jpg' %}" alt="" />
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h3>PRIYANKA AHIR</h3>
                                    <p>Team Leader</p>
                                    <div class="team-socials">
                                        <ul>
                                            <li>
                                                <a href="#" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                <a href="#" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                <a href="#" title="instagran"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span><a href="team-details.html">View Profile</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SECTION AGENTS -->



        <!-- STAR SECTION PARTNERS -->
        <div class="partners bg-white-2">
            <div class="container">
                <div class="sec-title">
                    <h2><span>Our </span>Partners</h2>
                    <p>The Companies That Represent Us.</p>
                </div>
                <div class="owl-carousel style2">
                    <div class="owl-item"><img src="{% static 'images/partners/11.jpg' %}" alt=""></div>
                    <div class="owl-item"><img src="{% static 'images/partners/12.jpg' %}" alt=""></div>
                    <div class="owl-item"><img src="{% static 'images/partners/13.jpg' %}" alt=""></div>
                    <div class="owl-item"><img src="{% static 'images/partners/14.jpg' %}" alt=""></div>
                    <div class="owl-item"><img src="{% static 'images/partners/15.jpg' %}" alt=""></div>
                    <div class="owl-item"><img src="{% static 'images/partners/16.jpg' %}" alt=""></div>
                    <div class="owl-item"><img src="{% static 'images/partners/17.jpg' %}" alt=""></div>
                    <div class="owl-item"><img src="{% static 'images/partners/11.jpg' %}" alt=""></div>
                    <div class="owl-item"><img src="{% static 'images/partners/12.jpg' %}" alt=""></div>
                    <div class="owl-item"><img src="{% static 'images/partners/13.jpg' %}" alt=""></div>
                </div>
            </div>
        </div>
        <!-- END SECTION PARTNERS -->
{% endblock %}