{% extends "client_header.html" %}
{% load static %}
{% block content %}

        <div class="clearfix"></div>
        <!-- Header Container / End -->

        <section class="headings">
            <div class="text-heading text-center">
                <div class="container">
                    <h1>Login</h1>
                    <h2><a href="index.html">Home </a> &nbsp;/&nbsp; login</h2>
                </div>
            </div>
        </section>
        <!-- END SECTION HEADINGS -->

        <!-- START SECTION LOGIN -->
        <div id="login">
            <div class="login">

                <form action="/Client/log/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Username/Email</label>
                        <input type="email" class="form-control" name="email" value="{{client_email}}" required>
                        <i class="icon_mail_alt"></i>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="pass" value="{{client_password}}" required>
                        <i class="icon_lock_alt"></i>
                    </div>

                        <b><label>You are:</label><br> <input type="radio" name="rad" value="c">Customer<br><input type="radio" name="rad" value="h">House/PG Owner <br> <input type="radio" name="rad" value="t">Tiffin Owner
                       </b><br> <div class="float-right mt-1"><a id="forgot" href="/Client/forgot/">Forgot Password?</a></div><br><br>

                    <button class="btn_1 rounded full-width" type="submit">Login to Find Houses</button>
                    <div class="text-center add_top_10">New to Find Houses? <strong><a href="/Client/register">Sign up!</a></strong></div>
                </form>
            </div>
        </div>
        <!-- END SECTION LOGIN -->

{% endblock %}









