{% extends "client_header.html" %}
{% load static %}
{% block content %}

        <!-- Header Container / End -->
        <!-- STAR HEADER SEARCH -->
       <video width="1550" height="580"loop="true" autoplay="autoplay" controls="controls" id="vid">
  <source src="{% static 'images/add.mp4' %}" type="video/mp4">


</video>
            <div class="hero-main">
                <div class="container" data-aos="zoom-in">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-inner">
                                <!-- Welcome Text -->

                                <!--/ End Welcome Text -->
                                <!-- Search Form -->

                                <!--/ End Search Form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HEADER SEARCH -->
        
        <!-- START SECTION FEATURED PROPERTIES -->
        <section class="recently portfolio bg-white-1 rec-pro2 hmp ho-17">
            <div class="container-fluid">
                <div class="sec-title" style="margin-bottom:50px;">
                  <center>  <h2><span>Trending </span>Houses</h2></center>

                </div>
                <center style="margin-left:100px">

                <div class="row portfolio-items">
{% for value in h_details %}

<span class="item col-lg-3 col-md-7 col-xs-12 people rent" data-aos="zoom-in" data-aos-delay="250" style="margin-left:70px; ">

                        <div class="people listing-item compact thehp-2">
                            <a href="/Client/home_desc/{{value.h_id}}" class="recent-16 hmp" data-aos="fade-up" >
                                <div class="recent-img16 img-center" ><img src="{% static 'im/house1.jpeg' %}"/></div>
                                <div class="recent-content"></div>

                                <div class="recent-details">
                                    <div class="recent-title">{{value.h_name}}</div>
                                    <div class="price-details">
                                    <div class="recent-price mb-3">₹  {{value.h_rent}}</div>
                                    <div class="house-details thehp-1"><i class="fa fa-bed mr-1" aria-hidden="true"></i> {{value.h_type}} </div>
                                    </div>
                                </div>
                                <div class="view-proper">View Details</div>
                            </a>
                        </div>
                    </span>


                {% endfor %}


            </div>
                    </center>
        </section>
        <!-- END SECTION FEATURED PROPERTIES -->            
        
        <!-- START SECTION WHY CHOOSE US -->
        <section class="how-it-works bg-white rec-pro">
            <div class="container-fluid">
                <div class="sec-title">
                  <center> <h2><span>Why </span>Choose Us</h2>
                    <p>We provide full service at every step.</p></center>
                </div>
                <div class="row service-1">
                    <article class="col-lg-3 col-md-6 col-xs-12 serv" data-aos="fade-up" data-aos-delay="150">
                        <div class="serv-flex">
                            <div class="art-1 img-13">
                                <img src="{% static 'images/icons/icon-4.svg' %}" alt="">
                                <h3>Wide Range Of Properties</h3>
                            </div>

                        </div>
                    </article>
                    <article class="col-lg-3 col-md-6 col-xs-12 serv" data-aos="fade-up" data-aos-delay="250">
                        <div class="serv-flex">
                            <div class="art-1 img-14">
                                <img src="{% static 'images/icons/icon-5.svg'%}" alt="">
                                <h3>Trusted by thousands</h3>
                            </div>

                        </div>
                    </article>
                    <article class="col-lg-3 col-md-6 col-xs-12 serv mb-0 pt" data-aos="fade-up" data-aos-delay="350">
                        <div class="serv-flex arrow">
                            <div class="art-1 img-15">
                                <img src="{% static 'images/icons/icon-6.svg' %}" alt="">
                                <h3>Financing made easy</h3>
                            </div>

                        </div>
                    </article>
                    <article class="col-lg-3 col-md-6 col-xs-12 serv mb-0 pt its-2" data-aos="fade-up" data-aos-delay="450">
                        <div class="serv-flex">
                            <div class="art-1 img-14">
                                <img src="{% static 'images/icons/icon-15.svg' %}" alt="">
                                <h3>We are here near you</h3>
                            </div>

                        </div>
                    </article>
                </div>
            </div>
        </section>
        <!-- END SECTION WHY CHOOSE US -->

        <!-- START SECTION PROPERTIES FOR SALE -->
        <section class="recently portfolio featured bg-white-1 rec-pro">
            <div class="container-fluid">
                <div class="sec-title" style="margin-bottom:50px;">
                    <center><h2><span>Trending </span>PG's</h2></center>

                </div>
               <center style="margin-left:100px">

                <div class="row portfolio-items">
{% for value in pg %}

<span class="item col-lg-3 col-md-7 col-xs-12 people rent" data-aos="zoom-in" data-aos-delay="250" style="margin-left:70px; ">

                        <div class="people listing-item compact thehp-2">
                            <a href="/Client/pg_desc/{{value.pg_id}}" class="recent-16 hmp" data-aos="fade-up" >
                                <div class="recent-img16 img-center" ><img src="{% static 'im/pg1.jpg' %} " width="300px"/></div>
                                <div class="recent-content"></div>

                                <div class="recent-details">
                                    <div class="recent-title">{{value.pg_name}}</div>
                                    <div class="price-details">
                                    <div class="recent-price mb-3">₹  {{value.pg_rent}}</div>
                                    <div class="house-details thehp-1"><i class="fa fa-bed mr-1" aria-hidden="true"></i> {{value.pg_beds}} Beds </div>
                                    </div>
                                </div>
                                <div class="view-proper">View Details</div>
                            </a>
                        </div>
                    </span>


                {% endfor %}


            </div>
                    </center>
                </div>
            </div>
        </section>
        <!-- END SECTION PROPERTIES FOR SALE -->
        
        <!-- START SECTION PROPERTIES FOR RENT -->
      <section class="recently portfolio featured bg-white-1 rec-pro">
            <div class="container-fluid">
                <div class="sec-title" style="margin-bottom:50px;">
                    <center><h2><span>Trending </span>Tiffins</h2></center>

                </div>
               <center style="margin-left:100px">

                <div class="row portfolio-items">
{% for value in tiff %}

<span class="item col-lg-3 col-md-7 col-xs-12 people rent" data-aos="zoom-in" data-aos-delay="250" style="margin-left:70px; ">

                        <div class="people listing-item compact thehp-2">
                            <a href="/Client/tiff_desc/{{value.tiff_id}}" class="recent-16 hmp" data-aos="fade-up" >
                                <div class="recent-img16 img-center" ><img src="{% static 'im/tiff1.jpg' %} " width="300px"/></div>
                                <div class="recent-content"></div>

                                <div class="recent-details">
                                    <div class="recent-title">{{value.tiff_title}}</div>
                                    <div class="price-details">
                                    <div class="recent-price mb-3">₹  {{value.tiff_price}}</div>
                                    <div class="house-details thehp-1"><i class="fa-solid fa-plate-utensils"></i> {{value.tiff_type}} </div>
                                    </div>
                                </div>
                                <div class="view-proper">View Details</div>
                            </a>
                        </div>
                    </span>


                {% endfor %}


            </div>
                    </center>
                </div>
            </div>
        </section>

        <!-- END SECTION PROPERTIES FOR RENT -->  

        <!-- START SECTION CONTACT US -->


{% endblock %}